:root {
  /* * Colors */
  --darken-background: hsla(0, 0%, 0%, 0.1);
  --lighten-background: hsla(0, 0%, 100%, 0.1);

  --standart-bgColor: hsla(30, 33%, 5%, 1);
  --standart-fontColor: hsla(0, 0%, 87%, 0.99);
  --standart-linkColor: hsla(0, 0%, 100%, 1);

  --page-container-bgColor: hsla(30, 33%, 5%, 1);
  --page-container-fontColor: hsla(0, 0%, 100%, 1);

  --deck-wrapper-bg: hsla(0, 0%, 100%, 1);

  --menu-iconColor: hsla(0, 0%, 100%, 1);
  --menu-button-bgColor: hsla(0, 0%, 94%, 0.129);

  /* * Font Sizes */

  --smallTextSize: 0.75rem; /* 12px */
  --mediumTextSize: 0.875rem; /* 14px */

  --regularTextSize: 1rem; /* 16px */
  --largeTextSize: 1.125rem; /* 18px */

  --smallTitleSize: 1.25rem; /* 20px */
  --regularTitleSize: 2.25rem; /* 36px */
  --largeTitleSize: 2.625rem; /* 42px */
}

/* * CSS Reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Manrope", sans-serif;
  font-feature-settings: "pnum" on, "lnum" on, "ss02" on, "ss04" on, "ss01" on;
  font-kerning: auto;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  user-select: none;
  overscroll-behavior: none;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
  font-size: 100%; /* 16px */
  line-height: 1.35;
  overflow: hidden scroll;
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
  display: flex;
}

strong {
  font-weight: 700;
}

img {
  touch-action: none;
  pointer-events: none;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -moz-crisp-edges;
}

input {
  outline: none;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
}

/* Hide scrollbar visibility */
*::-webkit-scrollbar,
*::-webkit-scrollbar-track,
*::-webkit-scrollbar-thumb,
*::-webkit-scrollbar-button,
*::-webkit-scrollbar-corner,
*::-webkit-resizer {
  display: none;
}

.preload-modal {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-gap: 3rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 40;
  background: hsl(0, 0%, 100%);
  padding-block: 3rem;
  padding-inline: 3rem;
  overflow: hidden;
}

.preload-modal > * {
  border: 0.5px solid black;
  padding-block: 2ch;
  padding-inline: 2ch;
}

.preload-illustration-wrapper {
  align-self: baseline;
}

.preload-illustration {
  object-fit: contain;
  width: 100%;
  height: 100%;
  /* transform: rotateY(180deg); */
}

.preload-info {
  padding-block: 2ch;
  padding-inline: 1ch;
  background: hsl(235deg 28% 42% / 8%);
  align-self: self-start;
}

h1.preload-info-title {
  font-weight: 800;
  text-transform: uppercase;
  font-size: 1.62rem;
  color: hsl(235deg 60% 8% / 90%);
}

.preload-info-text {
  letter-spacing: -0.01ch;
  line-height: 2.1ch;
  font-size: var(--mediumTextSize);
  font-weight: 200;
  overflow: hidden scroll;
  max-height: 76vh;
  padding-block: 1ch;
  padding-inline: 1ch;
  overscroll-behavior: auto;
  border: 0.5px solid hsl(235deg 60% 25% / 75%);
  border-radius: 2px;
  box-shadow: 2px 4px 0px hsl(235deg 60% 25% / 75%);
}

.preload-content {
  display: grid;
  grid-template-rows: 10ch calc(90vh - 19ch) 7ch;
  justify-items: end;
}

.preload-content-title {
  text-transform: uppercase;
  font-size: var(--largeTitleSize);
  font-weight: 800;
}

.token-data-table {
  padding-block-end: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}

.token-data {
  background: hsl(30deg 99% 70% / 40%);
  padding-block: 2ch;
  padding-inline: 2ch;
}

.token-data-label {
  font-size: 0.625rem;
  letter-spacing: 0.25ch;
  text-transform: uppercase;
  font-weight: 600;
}

.token-data-value {
  font-size: 1.62rem;
  font-weight: 200;
  font-feature-settings: "tnum" on, "lnum" on, "ss02" on, "ss04" on, "ss01" on,
    "calt" off, "liga" off;
}

.project-details {
  letter-spacing: -0.01ch;
  line-height: 2.1ch;
  font-size: 0.85rem;
  font-weight: 200;
}

.preload-content-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.preload-details-illustration-wrapper > img {
  width: 100%;
  height: 80%;
}

.preload-footer-links {
  display: flex;
  flex-direction: row-reverse;
  gap: 1rem;
}

.page-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden scroll;
  background-color: var(--page-container-bgColor);
  color: var(--page-container-fontColor);
}

.page-container a {
  color: var(--standart-linkColor);
}

.deck-wrapper {
  background-color: var(--deck-wrapper-bg);
  overflow: hidden scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-block: 1rem;
  padding-inline: 1rem;
  gap: 1rem;
}

.deck {
  width: 100vw;
  height: 100vh;
  overflow: hidden scroll;
  overscroll-behavior: auto;
}

.deck-1,
.deck-2,
.deck-3 {
  max-width: calc(100vw - 2rem);
  max-height: calc(100vh - 2rem);
  padding-block: 1rem;
  padding-inline: 1rem;
  outline: 1px solid #f3a342;
  outline-offset: 5px;
}

.deck-1 {
  background-color: #e45858;
  display: grid;
  grid-template-columns: 10ch 20ch auto max-content auto;
  grid-template-rows: repeat(6, 1fr);
  overflow: hidden;
}

.deck-1-top-bar {
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: flex-end;
  grid-column: 1/-1;
  grid-row: 1/2;
}

.top-nav-buttons {
  display: flex;
  gap: 1rem;
  width: max-content;
  height: max-content;
}

/* * Button Styles */

a.standart-button {
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  width: max-content;
  padding-inline: 5ch;
  padding-block: 2.5ch;
}

a.peach-button {
  background: hsl(30, 99%, 71%);
  border: 2px solid hsl(252deg 1% 8% / 95%);
  border-radius: 2px;
  box-shadow: 2px 4px 0px hsl(252deg 1% 8% / 95%);
  color: hsl(252deg 1% 8% / 95%);
  text-transform: uppercase;
  font-size: var(--mediumTextSize);
  font-weight: 700;
  line-height: 0.875rem;
  letter-spacing: 0.05ch;
  transform: translate3d(0, 0, 0);
  transition: box-shadow 0.2s 0s ease-in-out, transform 0.2s 0s ease-in-out;
}

a.peach-button:active {
  transform: translate3d(2px, 4px, 0);
  box-shadow: 0px 0px 0px transparent;
  transition: box-shadow 0.2s 0s ease-in-out, transform 0.2s 0s ease-in-out;
}

a.social-button {
  background: hsl(0deg 75% 65%);
  border: 2px solid hsl(252deg 1% 8% / 95%);
  border-radius: 2px;
  box-shadow: 2px 4px 0px hsl(252deg 1% 8% / 95%);
  color: hsl(235deg 60% 98%);
  text-transform: uppercase;
  font-size: var(--mediumTextSize);
  font-weight: 700;
  line-height: 0.875rem;
  letter-spacing: 0.05ch;
  gap: 1ch;
  transform: translate3d(0, 0, 0);
  transition: box-shadow 0.2s 0s ease-in-out, transform 0.2s 0s ease-in-out;
}

a.social-button:active {
  transform: translate3d(2px, 4px, 0);
  box-shadow: 0px 0px 0px transparent;
  transition: box-shadow 0.2s 0s ease-in-out, transform 0.2s 0s ease-in-out;
}

a.preload-enter-button {
  background: linear-gradient(157deg, hsl(30, 99%, 71%), #ffe1c3);
}

a.preload-enter-button,
a.social-button {
  padding-inline: 2ch;
  padding-block: 1.5ch;
  height: 7ch;
}

a.mute-button {
  justify-content: center;
  align-items: center;
  width: 65px;
  height: 65px;
  background: #f4664f;
  border: 2px solid hsl(252deg 1% 8% / 95%);
  border-radius: 2px;
  box-shadow: 2px 4px 0px hsl(252deg 1% 8% / 95%);
  transition: box-shadow 0.2s 0s ease-in-out, transform 0.2s 0s ease-in-out;
}

a.mute-button:active {
  transform: translate3d(2px, 4px, 0);
  box-shadow: 0px 0px 0px transparent;
  transition: box-shadow 0.2s 0s ease-in-out, transform 0.2s 0s ease-in-out;
}

.chinese-text {
  grid-row: 2/5;
  grid-column: 1/2;
  justify-self: center;
  align-self: start;
  font-family: "ZCOOL XiaoWei", sans-serif;
  font-weight: 300;
  font-size: 72px;
  line-height: 72px;
  text-transform: uppercase;
  writing-mode: tb;
  color: #fafafa;
  text-shadow: 0.5px 1px hsl(0deg 72% 90%), 3px 5px hsl(252deg 1% 8% / 40%);
}

.logo-container {
  grid-column: 1/2;
  grid-row: 6/7;
  align-self: center;
  justify-self: center;
}
.logo-image {
  width: 8rem;
  height: 8rem;
  transform: rotateY(180deg);
}

.idiom-prop {
  grid-column: 3/5;
  grid-row: 2/4;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.idiom-prop-title {
  text-indent: -0.16ch;
  font-weight: 700;
  font-size: 112px;
  line-height: 112px;
  text-transform: uppercase;
  grid-column: 1/4;
  align-self: end;
  text-align: right;
  padding-inline-end: 0.6ch;
  text-shadow: 0px 3px hsl(0deg 72% 90%), 0px 6px hsl(252deg 1% 8% / 40%);
}

.idiom-prop-text {
  font-size: var(--mediumTextSize);
  line-height: 1.8ch;
  width: 77ch;
  letter-spacing: -0.1ch;
  grid-row: 2/3;
  grid-column: 2/4;
  align-self: start;
  justify-self: end;
  padding-inline-end: 3rem;
}

.deck1-footer {
  grid-column: 3/5;
  grid-row: 5/7;
  display: flex;
  align-items: center;
  justify-content: center;
}

.deck-2 {
  background-color: #f9bc60;
}

.deck-3 {
  background-color: #1d1b1b;
}

.deck3-header {
  display: flex;
  height: 50%;
  justify-content: space-between;
}

.deck3-title-wrapper {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 13rem;
}

.deck-2,
.deck-3 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

img.deck2-content-illustration,
img.deck3-content-illustration {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  background: linear-gradient(
      180deg,
      hsla(8, 88%, 63%, 0.95) 0%,
      hsla(359, 97%, 71%, 0.75) 100%
    ),
    hsla(0, 72%, 62%, 0.7);
  color: #1d1b1b;
  backdrop-filter: blur(8px);
  width: 100vw;
  height: 100vh;
  overflow: hidden scroll;
  overscroll-behavior: contain;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 5ch 1fr 10ch;
  padding-block: 2rem;
  padding-inline: 2rem;
  transform: translate3d(0, 100vh, 0);
  transform-origin: center bottom;
}

.menu-container > * {
  opacity: 0;
  transform: translate3d(0, 100%, 0);
  background-color: #feedd1;
}

.menu-header {
  grid-column: 1/-1;
  grid-row: 1/2;
  border: 1px solid #1d1b1b;
  overflow: hidden;
}

h1.menu-title {
  text-transform: uppercase;
  font-size: var(--smallTitleSize);
  background-color: hsl(6deg 87% 95%);
  width: 100%;
  padding-block: 1ch;
  padding-inline: 2ch;
  color: #1d1b1b;
  font-weight: 800;
}

.menu-sidebar {
  grid-row: 2/3;
  grid-column: 1/2;
  border-inline: 1px solid #1d1b1b;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.menu-content,
.menu-sidebar {
  padding-block-start: 2ch;
  padding-block-end: 6ch;
  padding-inline: 1ch;
}

a.menu-link {
  background-color: #1d1b1b;
  color: #feedd1;
  font-weight: 300;
  text-transform: uppercase;
  padding-block: 1.5ch;
  width: 100%;
  padding-inline: 3ch;
  font-size: 1.5rem;
  gap: 1.5rem;
}

.menu-footer {
  grid-column: 1/-1;
  grid-row: 3/4;
  border: 1px solid #1d1b1b;
  padding-block: 1.2rem;
  padding-inline: 1.2rem;
  align-self: center;
}

.menu-footer-links {
  display: flex;
  gap: 1rem;
}

.menu-content {
  grid-column: 2/-1;
  grid-row: 2/3;
  border-inline-end: 1px solid #1d1b1b;
}
img.menu-content-illustration {
  width: 100%;
  height: 100%;
  object-fit: contain;
  max-height: 50vh;
}

.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 30;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  padding-block: 1rem;
  padding-inline: 1rem;
  overflow: hidden;
  touch-action: none;
  pointer-events: none;
  gap: 1rem;
}

.bottom-nav > * {
  touch-action: unset;
  pointer-events: all;
}

a.menu-button {
  display: grid;
  width: max-content;
  grid-template-columns: max-content max-content;
  grid-gap: 0.5ch;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(8px);
  padding-block: 1.2rem;
  padding-inline: 2rem;
  border-radius: 0.1rem;
  background-color: hsl(0deg 0% 100%);
  color: #1d1b1b;
  border: 3px solid #1d1b1b;
  box-shadow: 3px 4px #1d1b1b;
}

.menu-button-icon-path {
  fill: #1d1b1b;
}

.menu-button-label {
  font-weight: 800;
}

.menu-button--close {
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  justify-content: center;
  background-color: #1d1b1b;
  backdrop-filter: blur(8px);
  padding-block: 1.2rem;
  padding-inline: 2rem;
  border-radius: 0.1rem;
  transform: translate3d(0, 200%, 0);
  position: fixed;
  right: 1rem;
}

.menu-button--close-label {
  font-size: 16px;
  font-weight: 800;
  text-transform: uppercase;
}

.roadmap-wrapper {
  display: flex;
  align-items: start;
  justify-content: center;
  overflow: scroll hidden;
  overscroll-behavior: auto;
  background-color: hsl(30deg 99% 75%);
  outline: 1px solid hsl(30deg 99% 75%);
  outline-offset: 5px;
}

.card-gallery-wrapper {
  position: relative;
  z-index: 5;
  min-width: 100%;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-wrap: nowrap;
  height: auto;
  padding-block: 1rem;
  padding-inline: 1rem;
  gap: 1rem;
  flex-direction: row-reverse;
}

.gallery-card {
  background-color: hsl(37deg 96% 91% / 50%);
  color: #1d1b1b;
  padding-block: 1rem;
  padding-inline: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 16rem;
  height: auto;
  max-height: 100%;
  max-width: 90%;
  transform: unset;
  border: 2px solid hsl(252deg 1% 8% / 95%);
  border-radius: 2px;
  box-shadow: 2px 4px 0px hsl(252deg 1% 8% / 95%);
}

.gallery-card-image-wrapper {
  width: 100%;
  max-height: 100%;
  padding-block: 1rem;
  padding-inline: 1rem;
  display: flex;
  justify-content: center;
}

.gallery-card-image-wrapper > img {
  width: 9rem;
  height: 11rem;
  object-fit: contain;
}

h3.gallery-card-title {
  display: flex;
  flex-wrap: nowrap;
}

.buy-button {
  gap: 0.5ch;
}

svg.buy-button-icon {
  width: 2rem;
  transform: translate3d(0, 0.1ch, 0);
}

.preload-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  background: white;
  padding-bottom: 2rem;
}

@media screen and (min-width: 1024px) and (max-width: 1550px) {
  h1.idiom-prop-title {
    font-size: 90px;
    line-height: 90px;
  }

  .idiom-prop {
    grid-column: 3/4;
    grid-row: 2/4;
  }

  .deck1-footer {
    grid-column: 3/4;
    grid-row: 5/7;
  }

  .gallery-card {
    transform: unset;
  }

  .preload-details-illustration-wrapper {
    display: flex;
    justify-content: center;
    transform: scale(0.8);
  }

  .preload-content-body {
    padding-bottom: 7rem;
  }
}
